*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	/*background-image: linear-gradient(to right, blue, lightblue);*/
	background-image: linear-gradient(to right,rgb(30, 60, 126), rgb(30, 60, 120));
	width: 100%;
	height: 100vh;
	/*color: white;*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial;
}

.cod-container{
	background: white;
	width: 380px;
	border-radius: 10px;
	overflow: hidden;
}

.form-header{
	background: rgb(30, 60, 126);
	text-align: center;
	padding: 30px 0 40px;
	clip-path: circle(35% at 50% 50%);
}

.form-header img{
	vertical-align: top;
	width: 100px; 
}

.form-header .titulo{
	color: rgb(200, 50, 50); /*blue;*/
	font-family: Raleway;
	font-weight: normal;
	margin-top: 4px;
}

.cod-form{
	padding: 10px 40px 40px;
}

.form-title{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 37px;
	overflow: hidden;
	font-family: Raleway;
	color: green;
}

.login{
	position: relative;
	display: inline-block;
	color: blue;
	padding: 0 10px;
}

.login::after,
.login::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	background: blue;
	top: 0.5em;
}

.login::after{
	left: 100%;
}
.login::before{
	right: 100%;
}

.cod-form{
	width: 100%
	height: auto;
	text-align: center;
}

.input-group{
	position: relative;
	margin-bottom: 30px; /*40px*/
}

input[type="text"],
input[type="password"],
input[type="email"]{
	border: none;
	border-bottom: 2px solid blue;
	width: 100%;
	outline: none;
	font-size: 14px; /*14px*/
	color: blue;
	padding-left: 10px;
	font-family: Raleway; 
}

.label{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 14px;
	color: green;
	padding-left: 10px;
	cursor: text;
	transition: all .3s ease;
	font-family: Raleway;
}

.form-input:focus + label{
	top: -14px;
	font-size: 12px;
	color: green;
	font-family: Raleway; 
}

.active{
	top: -14px;
	font-size: 12px;
	color: green;
}
.error{
	color: red;
}

input[type="button"]{
	background: none;
	border: none;
	background: lightblue;
	width: 100%;
	font-size: 14px;
	padding: 10px 0;
	font-family: Raleway;
	margin-bottom: 16px;
	border-radius: 10px;
	transition: all .5s ease;
}

input[type="button"]:hover{
	background: lightgreen;
}

.input-group > p{
	color: blue;
	text-align: center;
	font-size: 14px;
	font-family: Raleway;
}

.input-group p > a{
	text-decoration: none;
	color: blue;
}

.input-group p > a:hover{
	text-decoration: underline;
}

.form-content{
	display: none;
}

.form-content:nth-child(2){
	display: block;
}